<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: risorse-head"></th:block>
    <title>University Departments</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments :: navbar('current')"></div>
    <h1 class="text-center mt-3 mb-3">University departments</h1>
    
    <!--
    <ul>
        <li th:each="d : ${departmentsList}" th:text="${d.getName()}"></li>
    </ul>
    -->
  
    <table class="table mt-3 mb-5">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Indirizzo</th>
					<th>Numero di telefono</th>
					<th>E-mail</th>
					<th>Sito web</th>
					<th>Capo dipartimento</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dep: ${departmentsList}">
					<td th:text="${dep.getName()}"></td>
					<td th:text="${dep.address}"></td>
					<td th:text="${dep.phone}"></td>
					<td th:text="${dep.email}"></td>
					<td th:text="${dep.website}"></td>
					<td th:text="${dep.headOfDepartment}"></td>
				</tr>
			</tbody>
		</table>
		    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>